*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 125vh;
    width: 100%;
    background-image: linear-gradient(160deg, #1F1250, #f8b2cc);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-slider {
    margin-top: 30px;
    margin-left: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
  }

  .footer-slider .marquee {
    display: flex;
    position: absolute;
    animation: marquee 10s linear infinite;
    width: max-content;
    transform: translateX(0%);
  }

  .footer-slider .marquee .child {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .footer-slider .marquee .child:last-child {
    margin-right: 0;
  }

  .footer-slider .marquee .child img {
    object-fit: contain;
    width: 80%;
    height: 60px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
  .h3 {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-top:40px;
}
.logo {
    width: 100px;
    margin-top: 25px;
    cursor: pointer;    
}
.logo0 {
    height:600px;
    width: 600px;
    margin-top: 20px;
    margin-right:80px;
    cursor: pointer;    
}
.logo5 {
  height:80px;
  width: 100px;
  margin-top: 500px;
  margin-right:20px;
  cursor: pointer;    
}
.logoo {
 margin-top:50px;   
 margin-right:50px;
}
.content .text .text-1{
    display:flex;
}
.img {
    width: 60px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right:25px;
    cursor: pointer;
}
.logo1 {
    width: 42px;
    margin-top: 25px;
    cursor: pointer;
   border-radius:100%;
   border:2px solid white;
   padding:10px;
   margin-left: 5px;
   margin-right: 5px;
}
.clss1{
  margin-left:700px;
}
.logo2 {
    width: 40px;
    margin-top: 25px;
    cursor: pointer;
   border-radius:100%;
   border:2px solid white;
   padding-left:10px;
   padding-right:10px;
   padding-top: 5px;
   padding-bottom:5px;
   margin-left: 5px;
   margin-right: 5px;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul h3 {
    display: inline-block;
    list-style: none;
    margin-left:85px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin:0 5px;
}
.content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 500px;
    margin-top:0;
}
.content .text .text-1  {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom:0px;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-size: 30px;
    color: #fff;
}
.content .text .text-2  {
    font-size: 40px;
    padding-top:0px;
    margin-top:0px;
    margin-left: 60px;
    color:#F9A21B;
    font-weight: 600;
}
.content .text .text-4{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .1em;
    margin-top: 40px;
    margin-bottom:40px;
    color: #e7e3e3;
 }
.image {
    margin-top:30px;
    margin-bottom:30px;
} 
.image1 {
    height:10vh;
    margin-left:1200px;
} 
.btn{
    font-size:15px;
    padding:12px 20px;
    background:#F9A21B;
    color:black;
    border-radius:10px;
    margin-left:10px;
    height: 20px;
}

  
@media screen and (max-width: 600px) {
    .container{
        height:100%;
        width:auto;
    }
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .header{
        flex-direction: column;
    }
    .content .text{
        justify-content: center;
    }
    .content .text .text-1{
        font-size: 20px;
        justify-content: center;
        margin-top:0px;
    }
    .content .text .text-2 {
        justify-content: center;
        font-size: 30px;
        
  }
  .image-1{
    display:none;
  }
  .logo0{
    margin-top:120px;;
  }
  .content .text .text-4{
    font-size:15px;
    padding-left:15px; 
  }
  .img1{
    display:none;
  }
  .image{
    margin-left: 150px;
  }
  .clss1{
    margin-left:40px;
    padding-top:0px;
    margin-bottom:20px;
  }
  .nav ul h3 {
  margin-top:20px;
}
.logo0{
  margin-top:200px;
  height:400px;
  width:400px;
}
.logo5{
  display:none;
}
.logoo{
  display:none;
}
}